body {
  line-height: 1.5;
  font-size: 18px;
  color: #222;
  padding: 0 10px;
  font-family: sans-serif;
  background-color: #307f6d;
  margin: 0;
  padding: 0;
}

.page {
  background-color: #a0cfb0;
  margin: 0 auto;
  max-width: 550px;
  padding: 1rem 0;
}

img {
  max-width: 100%;
}

img.responsive {
  width: 100%;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
  color: #307f6d;
  text-align: center;
}

p {
  margin: 2rem 2rem;
}

h2 {
  margin: 3rem 1rem 0rem;
}

a {
  color:#307f6d;
}
